In [2]:
import pandas as pd
import os


url = 'https://en.wikipedia.org/wiki/Asian_Film_Award_for_Best_Film'
tables = pd.read_html(url)
asian_film_awards_df = pd.concat(tables[2:4],ignore_index=True)
asian_film_awards_df.sample(20)
# We will focus on the film name and year of release to match it with our dataset
asian_film_awards_df = asian_film_awards_df[['Year','Original title']]
asian_film_awards_df.sample(10)

           Year        Original title
32   2012 (6th)                  龍門飛甲
44   2014 (8th)                   无人区
11   2008 (2nd)                   投名状
41   2014 (8th)                  一代宗師
7    2008 (2nd)  بودا از شرم فرو ریخت
37   2013 (7th)                    毒戰
72  2019 (13th)                撞死了一只羊
65  2018 (12th)                   嘉年华
49   2015 (9th)                  हैदर
50   2015 (9th)                자유의 언덕

In [3]:
asian_film_awards_df.Year = asian_film_awards_df.Year.astype(str).str[:4]
asian_film_awards_df.sample(20)

    Year       Original title
50  2015               자유의 언덕
54  2016      बाजीराव मस्तानी
68  2018               三度目の殺人
59  2017               我不是潘金莲
4   2007           Opera Jawa
46  2014                   郊遊
45  2014                 설국열차
23  2010                 パレード
3   2007                武士の一分
41  2014                 一代宗師
52  2015            そこのみにて光輝く
1   2007              满城尽带黄金甲
24  2011    ลุงบุญมีระลึกชาติ
0   2007                   괴물
32  2012                 龍門飛甲
14  2009    좋은 놈, 나쁜 놈, 이상한 놈
30  2012  جدایی نادر از سیمین
51  2015                 국제시장
44  2014                  无人区
11  2008                  投名状

In [4]:
# Give the same column names as in our cleaned dataset : 
cols = list(asian_film_awards_df.columns)
cols = [cols[1],cols[0]]
asian_film_awards_df = asian_film_awards_df[cols]
asian_film_awards_df.columns= ['Movie_name', 'Movie_release_date']
asian_film_awards_df.sample(10)

    Movie_name Movie_release_date
40         피에타               2013
68      三度目の殺人               2018
47          推拿               2015
3        武士の一分               2007
27        让子弹飞               2011
34      賽德克·巴萊               2012
52   そこのみにて光輝く               2015
29           시               2011
10      太阳照常升起               2008
4   Opera Jawa               2007

In [5]:
save_path = r'..\..\data\processed_data\asian_films_nominees.csv'
asian_film_awards_df.to_csv(save_path,index=False)