In [2]:
import pandas as pd
import os


url = 'https://en.wikipedia.org/wiki/C%C3%A9sar_Award_for_Best_Film'
tables = pd.read_html(url)
cesar_awards_df = pd.concat(tables[2:7],ignore_index=True)
cesar_awards_df.sample(20)
# We will focus on the film name and year of release to match it with our dataset
cesar_awards_df = cesar_awards_df[['Year','Original title']]
cesar_awards_df.sample(10)

     Year          Original title
92   1996                La haine
167  2010             À l'origine
67   1991      Cyrano de Bergerac
222  2017                Victoria
199  2014        L'Inconnu du lac
182  2012  La Guerre est déclarée
44   1986             L'Effrontée
74   1992       La Belle Noiseuse
40   1985          L'Amour à mort
65   1990           Monsieur Hire

In [3]:
cesar_awards_df.Year = cesar_awards_df.Year.astype(str).str[:4]
cesar_awards_df.sample(20)

     Year         Original title
225  2018                Barbara
229  2018     Le Sens de la fête
192  2013     De rouille et d'os
195  2014        Neuf mois ferme
227  2018               Patients
168  2010             Le Concert
115  2000  Les Enfants du marais
50   1987                   Mélo
234  2019                    Guy
149  2007        Lady Chatterley
52   1988  Au revoir les enfants
33   1984           À nos amours
4    1977         Monsieur Klein
170  2010  La Journée de la jupe
150  2007              Indigènes
70   1991                 Nikita
2    1976   Que la fête commence
89   1995                   Léon
189  2013  Les Adieux à la reine
146  2006     Va, vis et deviens

In [4]:
# Give the same column names as in our cleaned dataset : 
cols = list(cesar_awards_df.columns)
cols = [cols[1],cols[0]]
cesar_awards_df = cesar_awards_df[cols]
cesar_awards_df.columns= ['Movie_name', 'Movie_release_date']
cesar_awards_df.sample(10)

                   Movie_name Movie_release_date
17               Don Giovanni               1980
198                  Le Passé               2014
140      36 Quai des Orfèvres               2005
119        Le Goût des autres               2001
100         Un air de famille               1997
214             La Tête haute               2016
29                     Danton               1983
114   Venus beauté (institut)               2000
145                  L'Enfant               2006
72   Tous les matins du monde               1992

In [5]:
save_path = '..\..\data\processed_data\cesars_nominees.csv'
cesar_awards_df.to_csv(save_path,index=False)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\franc\AppData\Local\Temp\ipykernel_464\375063919.py:1: SyntaxWarning: invalid escape sequence '\.'
  save_path = '..\..\data\processed_data\cesars_nominees.csv'